@import url('https://fonts.googleapis.com/css?family=B612:400i,700,700i|Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');

ul.right li a.nav-text {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: #A038C9;
    padding: 0 10px;
}
ul.sidenav li a.nav-text{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    color: #A038C9;
}
.sidenav-trigger {
    color: #A038C9;
}