@import url('https://fonts.googleapis.com/css?family=B612:400i,700,700i|Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');

body{
  width: 100%;
  background-image: url('fundo.svg');
  background-size: 100%, 100%;
  -webkit-background-size: cover; /* SAFARI / CHROME */
  -moz-background-size: cover; /* FIREFOX */
  -ms-background-size: cover; /* IE */
  -o-background-size: cover; /* OPERA */
}
.container{
    width: 70%;
    height: 750px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
.panel {
    height: 750px;
    margin: 0 auto;
    border-radius: 20px;
}
h1{
    margin-top: 10px;
    font-size: 33px;
    text-align: center;
    font-family: 'B612', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #A038C9;
}
h1:hover{
  transition: 0.8s;
  color: #D63187;
}
h2{
    font-size: 25px;
    padding-left: 25px;
    text-align: left;
    font-family: 'B612', sans-serif;
    font-weight: 600;
    color: #A038C9;
}
h2:hover{
  transition: 0.8s;
  color: #D63187;
}
.input-field .prefix {
  color: #A038C9;
}
.row .input-field .material-icons:hover{
  color: #D63187;
}
.input-field label {
  color: #A038C9;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
}
.input-field input[type=text]:focus + label {
  color: #A038C9;
  
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #A038C9;
  box-shadow: 0 1px 0 0 #A038C9;
}
.input-field input[type=text]{
  border-bottom: 1px solid #A038C9;
  box-shadow: 0 1px 0 0 #A038C9;
}
.invalid{
  color:#F44336;
  
}
.inputs{
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  color: #D63187;
}
.mostrarsenha{
  cursor: pointer;
}
.radiosex{
  margin-top: 5px;
}
.icon-sexo{
  margin-top: 5px;
}
.sexo{
  font-size: 18px;
}
.inputFoto {
  margin-top: -3px;
}
.submit {
  font-family:'B612',sans-serif;
  font-style: italic;
  font-weight: bold;
  border-radius: 20px;
  color: #fff;
  background: #D63187;
  transition: 0.8s;
  height: auto;
}
.submit:hover{
  background: #A038C9;
}