@import url('https://fonts.googleapis.com/css?family=B612:400i,700,700i|Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');

nav.white{
    background: #D63187;
}

ul.right li a.nav-text {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 0 10px;
}

ul.sidenav li a.nav-text{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    color: #fff;
}

.sidenav-trigger {
    color: #fff;
}

.card .card-image span.card-title{
    font-family: 'B612',sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-size: 32px;
    text-shadow: 0 0 0.3em #000, 0 0 0.2em #000;
}

.card .card-content p{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    color: #D63187;
}

footer.page-footer {
    margin: 0 auto;
    background: #D63187;
    bottom: 0;
    width: 100%;
    left: 0;
}

.without-shadow{
    font-family: 'B612',sans-serif;
    font-style: italic;
    color: #fff;
    font-weight: 800;
    text-shadow: 0 0 0.3em #000, 0 0 0.2em #000;
}

.texto2{
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
}