h1{
  color: #A038C9;
  background: rgba(255,255,255,.9);
  border-radius: 50px;
}
.row h5{
  color: #fff;
}
nav ul a,
nav .brand-logo {
  color: #A038C9;
}

p {
  line-height: 2rem;
}
.sidenav-trigger {
  color: #A038C9;
}
#nav-mobile li a{
  color: #A038C9;
}

.botao:hover{
  background: #D63187;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

.col h5 {
  color: #A038C9;
}

.texto2{
  color: #D63187;
  font-weight: 500;
}

.row h4{
  color: #A038C9;
  font-weight: bold;
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background: #fff;
}
