body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #6712CC, #D61375);
}
.box{
  width: 50%;
  height: 920px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}
.cont {
    width: 50%;
    margin: 0 auto;
  }
.form{
  width: 100%;
  font-family: "Arial", Times, serif;
  color: #D61375;
}
h1{
  font-size: 35px;
}
label{
  font-size: 20px;
  font-weight: bold;
}
ul{
  list-style-type: none;
  margin-left: -50px;
}
.input{
  width: 100%;
  color: #D61375;
  font-size: 15px;
  font-weight: bold;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
}
.submit {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #D61375;
  display: block;
  border: none;
  transition: 1s;
  top:20px;
}
.submit:hover {
  opacity: 1;
  background-image: linear-gradient(to left, #D61375, #6712CC); 
}