@import url('https://fonts.googleapis.com/css?family=B612:700i|Muli:600i,700i,900&display=swap');
body{
    background: #F996FF;
  }
.container{
    width: 70%;
    height: 800px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    margin-top: 8%;
    margin-bottom: 8%;
}
.panel {
    height: 800px;
    margin: 0 auto;
    border-radius: 20px;
}
h1{
    margin-top: 10px;
    font-size: 33px;
    text-align: center;
    font-family: 'B612', sans-serif;
    font-weight: 700;
}
h2{
    font-size: 25px;
    padding-left: 25px;
    text-align: left;
    font-family: 'B612', sans-serif;
    font-weight: 600;
}
/* label color */
.input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
.radiosex{
    margin-top: 5px;
}
.icon-sexo{
    margin-top: 5px;
}
.sexo{
    font-size: 18px;
}
.inputFoto {
    margin-top: -3px;
}
.submit {
    border-radius: 20px;
    color: #fff;
    background: #B73DC4;
    height: auto;
}
.submit:hover{
    background: #F996FF;
}