body{
  font-family: Arial, Helvetica, sans-serif;
  background: #F996FF;
}
.box{
  width: 50%;
  height: 600px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  margin-top: 30px;
}
.cont {
  width: 85%;
  margin: 0 auto;
}
.form{
  width: 100%;
  font-family: "Arial", Times, serif;
  color: #B73DC4;
}
h1{
  font-size: 35px;
  text-align: center;
}
label{
  font-size: 20px;
  font-weight: bold;
}
ul{
  list-style-type: none;
  margin-left: -50px;
}
.coluna1{
  width: 48%;
  float: left;
}
.coluna2{
  width: 48%;
  float: right;
}
.input{
  width: 100%;
  color: #D61375;
  font-size: 15px;
  font-weight: bold;
  background-color: #E9E9E9;
  border: 2px solid #B73DC4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #B73DC4;
  border-left: 2px solid #B73DC4;
  text-indent: 20px;
}
#data_nasc{
  -moz-appearance: textfield;
  appearance: textfield;
  text-align:center;
}
#data_nasc::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
#senha{
  margin-bottom: 25px;
}
.foto{
  font-size: 12px;
  margin-top: 10px;
}
.submit {
  width: 100%;
  font-size: 18px;
  border-radius: 20px;
  color: #fff;
  height: 40px;
  opacity: 8;
  cursor: pointer;
  background: #F200FF;
  display: block;
  border: none;
  transition: 3s;
}
.submit:hover {
  opacity: 2;
  background-image: linear-gradient(to left, #F996FF, #B73DC4); 
}