body{
    background: #F996FF;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form{
    width: 100%;
}
.box{
    width: 40%;
	height: 580px;
	margin: 0 auto;
	border-radius: 20px;
    background-color: white;
    margin-top: 2%;
}
.user{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #B73DC4;
    border-radius: 50%;
    position: relative;
    border: 10px solid #B73DC4;
    overflow: hidden;
    box-sizing: border-box;
    top: 10px;
    margin-top: 40px;
}
.user::before{
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 25px);
    top: 15px;
}
.user::after{
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
    top: 75px;
}
label{
    font-weight: bold;
}
.input{
    width: 60%;
    color: #B73DC4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-variant:bold;
    background-color: #FFF;
    border:2px solid #B73DC4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 15px;
    height: 35px;
    margin-bottom: 0px;
    border-bottom: 2px solid #B73DC4;
    border-left: 2px solid #B73DC4;
    text-indent: 20px;
    font-weight: bold;
    z-index: 2;
    display: block;
    margin-top: 20px;
}
.submit {
    width: 60%;
    font-size: 20px;
    border-radius: 4px;
    color: #fff;
    height: 45px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #B73DC4;
    display: block;
    border: none;
    transition: 1.5s;
    top: 25px;
    border-radius: 20px;
    margin-top: 60px;
}
.submit:hover {
    background: #F996FF;
}