body{
    background: #F996FF;
}
.box{
	width: 40%;
	height: 630px;
	margin: 0 auto;
	border-radius: 20px;
    background-color: white;
}
.cont {
    width: 70% ;
    margin: 0 auto;
    margin-top: 40px;
}
.form{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font:#D61375;
}
.user{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #F996FF;
    border-radius: 50%;
    position: relative;
    border: 10px solid #F977FF;
    overflow: hidden;
    box-sizing: border-box;
    top: 10px;
    margin-top: 20px;
}
.user::before{
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 25px);
    top: 15px;
}
.user::after{
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
    top: 75px;
}
.login{
    position: relative;
    display: block;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 27px;
    color: #B73DC4;
}
.senha{
    position: relative;
    display: block;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 27px;
    color: #B73DC4;
}
.input{
    width: 100%;
    color: #DD569A;
    font-size: 18px;
    font-variant:bold;
    background-color: #FFF;
    border:2px solid #DD569A;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 15px;
    height: 35px;
    margin-bottom: 0px;
    border-bottom: 2px solid #B73DC4;
    border-left: 2px solid #B73DC4;
    text-indent: 20px;
    font-weight: bold;
    z-index: 2;
    display: block;
}
input:focus, input:valid{
    outline: none;
    border-bottom: 2px solid #DD469A;
}
input:focus + label, input:valid + label{
    top:-40px;
    font-size: 17px;
}
.submit {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 45px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #F200FF;
    display: block;
    border: none;
    transition: 1s;
    top: 25px;
    border-radius: 20px;
}
.submit:hover {
    background: #A30F59;
}
a{
    text-decoration: none;
}
.ems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#B73DC4;
    cursor: pointer;
    text-decoration-line:underline;
}